.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    position: relative;
    z-index: 0;
}
.product:hover {
    transform:translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
.productImg {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: 1.5px solid white;
}
.productImg img {
    width: 100% !important;
    height: 100%;
    display: block;
    object-fit: cover;
    background: #f2f2f2;
    transition: 0.3s ease;
    border-radius: 10px;
}
.productText {
    text-align:center;
    width: 100%;
}
.product h2 {
    font-size: 20px;
    font-weight: 600;
}
.product h3 {
    font-size: 14px;
    font-weight: 600;
}
.max {
    font-size: 13px;
}
.max.limit {
    color: #ff4d4f;
    font-weight: 600;
}
.add-btn {
    width: 100%;
    background: var(--primary);
    color: var(--white) ;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
    border: 1.5px solid white !important;
    }
.add-btn:hover {
    background: var(--secondary);
    color: var(--text);
}
.product .Like-Btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s ease;
}
.Like-Btn:hover {
    transform: scale(1.1);
}
.Like-Btn .like-Icon {
    width: 25px ;
    height:25px ;
    object-fit: contain;
    display: block;
    flex-shrink: 0;
}

/* ================= Responsive ================= */

@media (max-width: 992px) {
    .like-icon {
        width: 25px !important;
        height: 25px !important;
    }
}
@media (max-width: 768px) {
    .like-icon {
        width: 25px !important;
        height: 25px !important;
    }
}
@media (max-width: 576px) {
    .like-icon {
        width: 25px !important;
        height: 25px !important;
    }
}
