.page-heading {
    text-align: center;
    margin-top: 40px 0 ;
}
.page-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

