.hero {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 10%;
    min-height: 80vh;
    gap: 40px;
    background: linear-gradient(135deg, #2F5D50, #3e7a69, #D4AF37);
    margin:30px 70px;
    border-radius: 30px;
    position: relative;
}
.hero-text {
    flex: 1;
    animation: fadeUp 1s ease;
    color: white;
}
.hero-text span {
    font-size: 30px;
    letter-spacing: -1px;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: -2px;
    background: linear-gradient(160deg, #D4AF37, #2F5D50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--white) !important;
    line-height: 1.7;
}
.hero-btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--secondary);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.hero-btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px var(--secondary);
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: -60px;
}
.hero-image img {
    width: 100%;
    max-width: 450px;
    height: 450px;
    border-radius: 20px;
    transition: 0.4s;
    margin-right: -50px;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 992px) {
  .hero {
    width: 85%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    .hero-image {
    width: 100%;
    justify-content: center; 
    align-items: center;     
  }
  .hero-image img {
    max-width: 300px;
    height: auto;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .hero {
    width: 85%;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    justify-content: center; 
    align-items: center;     
  }
  .hero-image img {
    max-width: 300px;
    height: auto;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .hero {
    width: 85%;
    margin: 30px auto;
  }
  .hero-text h1 {
    font-size: 40px;
  }  
  .hero-text h1 span {
    font-size: 25px;
  }
  .hero-text p {
    font-size: 10px;
  }
  .hero-btn {
    padding: 10px 15px;
  }
  .hero-image {
    width: 100%;
    justify-content: center; 
    align-items: flex-end;     
  }
  .hero-image img {
    max-width: 300px;
    height: 300px;
    margin: 0;
}
}










.product-title {
  text-align: center;
  font-size: 32px;
  margin: 40px 0;
  font-weight: bold;
  position: relative;
}
.product-title::after {
  content: "";
  width: 90px;
  height: 3px;
  background: black;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px !important;
  padding: 10px 60px;  
  justify-content: center;
  align-items: center;  
  max-width: 1200px;
  margin: 0px auto;
}
.product-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.03s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  cursor: pointer;
}
.product-card.show:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px var(--primary);
}
.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s;
}
.product-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}
.product-card p {
  color: #777;
  margin-bottom: 15px;
}
.product-card h3,
.product-card p {
  padding: 0 15px;
}
.product-button {
  text-align: center;
  padding: 10px 15px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 0 0 10px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  display: block;
}
.product-button:hover {
  transform: scale(1.1);
  background-color: var(--secondary);
  color: white ;
}
@media (max-width: 992px) {
  .products-container {
    width: 85%;
    padding: 10px;
  } 
}
@media (max-width:768px) {
    .products-container {
    width: 85%;
    padding: 10px;
  } 
}
@media (max-width: 576px) {
  .products-container {
    width: 85%;
    padding: 10px 30px;
  }  
}






.welcome-section {
    min-height: 70vh;
    color: white;
    text-align: center;
    padding: 100px 40px;
    margin-top: 100px;
    position: relative;
    margin: 70px;
    border-radius: 30px;
}
.welcome-section::before {
  content: "";
  border-radius: 30px;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}
.welcome-section h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 25px 0;
    position: relative;
}
.welcome-section p {
    font-size: 20px;
    color: #fff;
    margin: 25px 0;
    position: relative;
}
.welcome-section button {
    padding: 10px 35px ;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.3s ease;
    background-color: var(--secondary);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    position: relative;
}
.welcome-section button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px  var(--secondary);
}

@media (max-width: 992px) {
  .welcome-section {
    width: 85%;
    margin: 30px auto;
  }
  .welcome-section p{
    line-height: 1.8;
  }
  .welcome-section button {
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .welcome-section {
    width: 85%;
    margin: 30px auto;
  }
  .welcome-section h1{
    font-size: 30px;
  }
  .welcome-section p{
    font-size: 20px;
    line-height: 1.8;
  }
  .welcome-section button {
    width: fit-content;
  }
}
@media (max-width: 576px) {
  .welcome-section {
    width: 85%;
    margin: 30px auto;
  }
  .welcome-section h1{
        font-size: 20px ;
  }
  .welcome-section p{
    font-size: 15px ;
    line-height: 1.8;
  }
  .welcome-section button {
    font-size: 15px;
    width: fit-content;
  }
}


.feature-container{
    width: 85%;
    margin: 30px auto;
}
.feature-box{
    background: linear-gradient(135deg, #ffffffcc, #ffffff80);
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff40;
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px #2f5d5015;
    transition: 0.4s ease;
    cursor: pointer;
    transform: translateY(30px);
    opacity: 0;
}
.feature-box.show{
    transform: translateY(0);
    opacity: 1;
}
.feature-box:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 40px #2f5d5030;
    background: linear-gradient(135deg, #2F5D50 40%, #23463c);
    color: white;
}
.feature-box h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 0.3s ease;
}
.feature-box p{
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s ease;
}
.feature-box:hover p{
    opacity: 1;
}
.feature-box:hover h4{
    transform: scale(1.1);
}





@media (max-width: 992px) {
    .feature-box {
      box-shadow: none;
    }
}
@media (max-width: 768px) {
    .feature-box {
      margin-bottom: 10px;
    }
}
@media (max-width: 576px) {
    .feature-box {
      margin-bottom: 10px;
    }
}


/* .features-section {
    padding: 0px 70px;
}
.feature-box {
    padding: 40px 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.feature-box h4 {
    font-size: 22px;
    margin-bottom: 10px;
}
.feature-box p {
    color: #666;
    font-size: 15px;
}
.feature-box:hover {
    transform: translateY(-10px);
    background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.feature-box:hover h4 {
    color: var(--secondary);
}

@media (max-width: 768px) {
    .feature-box {
        width: 85%;
        margin: 5px auto;
    }
}
@media (max-width: 576px) {
    .feature-box {
        width: 85%;
        margin: 5px auto;
    }
} */




.fade-up,
.fade-right {
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
}
.fade-up {
    transform: translateY(40px);
}
.fade-right {
    transform: translateX(60px);
}
.best-sellers .fade-up,
.best-sellers .fade-right {
  transition-delay: 0s !important;
}
.show {
    opacity: 1;
    transform: translate(0, 0);
}


